Repository DreamVault-2024/dreamvalut-backend, pull requests merged in 2024-04, with the labels that each got.

#14 BE/#3 특정 곡 등록하기 API 구현
  build.gradle
  src/main/java/com/example/dreamvalutbackend/DreamvalutBackendApplication.java
  src/main/java/com/example/dreamvalutbackend/config/aws/S3ClientConfig.java
  src/main/java/com/example/dreamvalutbackend/config/aws/S3ClientProperties.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/domain/Genre.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/repository/GenreRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/domain/Tag.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/domain/TrackTag.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/repository/TagRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/repository/TrackTagRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/service/TagService.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/request/TrackUploadRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/Track.java
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/TrackDetail.java
  src/main/java/com/example/dreamvalutbackend/domain/track/repository/TrackDetailRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/track/repository/TrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/main/java/com/example/dreamvalutbackend/domain/track/validation/annotation/ValidTrackAudio.java
  src/main/java/com/example/dreamvalutbackend/domain/track/validation/annotation/ValidTrackImage.java
  src/main/java/com/example/dreamvalutbackend/domain/track/validation/validator/TrackAudioValidator.java
  src/main/java/com/example/dreamvalutbackend/domain/track/validation/validator/TrackImageValidator.java
  src/main/java/com/example/dreamvalutbackend/global/aws/S3FileHandler.java
  src/main/java/com/example/dreamvalutbackend/global/utils/multipart/ThumbnailImageMultipartFile.java
  src/main/java/com/example/dreamvalutbackend/global/utils/multipart/TrackAudioMultipartFile.java
  src/main/java/com/example/dreamvalutbackend/global/utils/multipart/TrackImageMultipartFile.java
  src/main/java/com/example/dreamvalutbackend/global/utils/resizer/ImageResizer.java
  src/main/java/com/example/dreamvalutbackend/global/utils/uploader/AudioUploader.java
  src/main/java/com/example/dreamvalutbackend/global/utils/uploader/ImageUploader.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceTest.java
Labels: 🚀 Feat, 📁 Test

#15 Feat: `JpaConfig` Configuration 클래스 작성
  src/main/java/com/example/dreamvalutbackend/config/jpa/JpaConfig.java
Labels: 🚀 Feat

#17 BE/#8 `.gitignore` 항목 추가 및 템플릿 경로 수정
  .github/issue_template.md
  .github/pull_request_template.md
  .gitignore
Labels: 🏷 Fix, 🚀 Feat

#19 BE/#9 `특정 곡 정보 가져오기` API 구현 및 테스트 코드 작성
  build.gradle
  src/main/java/com/example/dreamvalutbackend/domain/tag/repository/TrackTagRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackUploadResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceTest.java
Labels: 🚀 Feat, 📁 Test

#22 Be/#6 oAuth 2.0 로그인 로직 구현
  build.gradle
  src/main/java/com/example/dreamvalutbackend/config/SecurityConfig.java
  src/main/java/com/example/dreamvalutbackend/config/exception/CustomExpiredJwtException.java
  src/main/java/com/example/dreamvalutbackend/config/exception/CustomJwtException.java
  src/main/java/com/example/dreamvalutbackend/config/handler/CommonLoginSuccessHandler.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/filter/JwtVerifyFilter.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/utils/JwtConstants.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/utils/JwtUtils.java
  src/main/java/com/example/dreamvalutbackend/config/oauth2/domain/KakaoUserInfo.java
  src/main/java/com/example/dreamvalutbackend/config/oauth2/service/OAuth2UserService.java
  src/main/java/com/example/dreamvalutbackend/domain/user/controller/UserController.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/User.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/UserDetailPrincipal.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/UserRole.java
  src/main/java/com/example/dreamvalutbackend/domain/user/repository/UserRepository.java
  src/main/java/com/example/dreamvalutbackend/global/config/web/CorsConfig.java
  src/main/resources/static/index.html
Labels: 🚀 Feat

#24 BE/#12 `Track` 엔티티에 곡 길이 정보 `duration` 필드 추가
  build.gradle
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackUploadResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/Track.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/main/java/com/example/dreamvalutbackend/global/utils/audio/AudioDataParser.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceTest.java
Labels: 🚀 Feat, 📁 Test

#27 BE/#13 `특정 곡 재생 이벤트 기록하기` API 구현
  src/main/java/com/example/dreamvalutbackend/config/jwt/filter/JwtVerifyFilter.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/StreamingHistory.java
  src/main/java/com/example/dreamvalutbackend/domain/track/repository/StreamingHistoryRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceTest.java
Labels: 🏷 Fix, 🚀 Feat, 📁 Test

#29 BE/#15 `모든 장르 리스트 가져오기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/GenreController.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/response/GenreResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/service/GenreService.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackUploadResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/service/GenreServiceTest.java
Labels: 🚀 Feat, 🧹 Refactor, 📁 Test

#31 BE/#16 `특정 장르의 모든 곡 가져오기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/GenreController.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/response/GenreWithTracksResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/service/GenreService.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/repository/TrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/track/validation/validator/TrackAudioValidator.java
  src/main/java/com/example/dreamvalutbackend/global/utils/multipart/TrackAudioMultipartFile.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/service/GenreServiceTest.java
Labels: 🚀 Feat, 📁 Test

#33 BE/#17 `장르별 곡 3개씩 가져오기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/GenreController.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/response/GenreWithTracksOverviewResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/response/TrackOverviewResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/repository/GenreRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/service/GenreService.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/service/GenreServiceTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceTest.java
Labels: 🚀 Feat, 🧹 Refactor, 📁 Test

#35 BE/#18 `모든 태그 리스트 가져오기` 및 `특정 태그의 모든 곡 가져오기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/tag/controller/TagController.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/controller/response/TagResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/controller/response/TagWithTracksResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/domain/Tag.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/repository/TrackTagRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/service/TagService.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/controller/TagControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/controller/TagControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/service/TagServiceTest.java
Labels: 🚀 Feat, 📁 Test

#37 BE/#19 `새 플레이리스트 생성하기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/request/CreatePlaylistRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/response/CreatePlaylistResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/domain/MyPlaylist.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/domain/Playlist.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/MyPlaylistRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistTrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceTest.java
Labels: 🚀 Feat, 📁 Test

#39 BE/#20 `특정 플레이리스트 정보 가져오기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/response/PlaylistWithTracksResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/domain/MyPlaylist.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/domain/PlaylistTrack.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistTrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceTest.java
Labels: 🚀 Feat, 📁 Test

#43 BE/#21 `특정 플레이리스트 이름 수정하기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/request/UpdatePlaylistNameRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/response/PlaylistResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/domain/Playlist.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceTest.java
Labels: 🚀 Feat, 🧹 Refactor, 📁 Test

#44 Rename: 서비스 계층 유닛 테스트 코드 객체명 수정
  src/test/java/com/example/dreamvalutbackend/domain/genre/service/GenreServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/service/TagServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceUnitTest.java
Labels: 🧹 Refactor

#50 BE/#24 `특정 플레이리스트 삭제하기`, `특정 플레이리스트에 곡 추가하기`, `특정 플레이리스트의 곡 삭제하기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/request/AddTrackToPlaylistRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/MyPlaylistRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistTrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceUnitTest.java
Labels: 🚀 Feat, 📁 Test

#53 BE/#28 `플레이리스트들 가져오기`, `특정 플레이리스트 팔로우하기`, `특정 플레이리스트 언 팔로우하기` API 구현
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/response/GenreWithTracksOverviewResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/service/GenreService.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/response/PlaylistWithTracksOverviewResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/MyPlaylistRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/repository/PlaylistTrackRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/validation/annotation/ValidPlaylistType.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/validation/validator/PlaylistTypeValidator.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackOverviewResponseDto.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceUnitTest.java
Labels: 🏷 Fix, 🚀 Feat, 📁 Test

#55 feat: refresh 검증 API 구현
  src/main/java/com/example/dreamvalutbackend/config/jwt/controller/JwtController.java
Labels: 🏷 Fix, 🚀 Feat

#56 Be/#10 jwt형식으로 swagger추가
  build.gradle
  src/main/java/com/example/dreamvalutbackend/config/swagger/SwaggerConfig.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/GenreController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/controller/TagController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
Labels: 🚀 Feat

#57 Test: `PlaylistControllerTest` - `updatePlaylistNameSuccess` 통합테스트 추가
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerTest.java
Labels: 🏷 Fix, 📁 Test

#59 BE/#31 `DreamvalutBackendApplicationTests` - `contextLoads()`에서 S3ClientProperties.getCredentials() 메소드 null 리턴 문제로 테스트 통과하지 못하는 문제 해결하기
  src/main/java/com/example/dreamvalutbackend/DreamvalutBackendApplication.java
  src/test/java/com/example/dreamvalutbackend/DreamvalutBackendApplicationTests.java
Labels: 🏷 Fix, 📁 Test

#60 BE/#30 `특정 플레이리스트 정보 가져오기` API 사용자 검증 과정 추가하기
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceUnitTest.java
Labels: 🏷 Fix, 📁 Test

#61 Be/#11 redis 설정 및 redis refresh token 삽입
  .gitignore
  build.gradle
  docker-compose.yml
  redis.conf
  src/main/java/com/example/dreamvalutbackend/config/SecurityConfig.java
  src/main/java/com/example/dreamvalutbackend/config/handler/CommonLoginSuccessHandler.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/controller/JwtController.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/utils/JwtUtils.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/UserDetailPrincipal.java
  src/main/java/com/example/dreamvalutbackend/redis/config/RedisConfiguration.java
  src/main/java/com/example/dreamvalutbackend/redis/controller/RedisController.java
  src/main/java/com/example/dreamvalutbackend/redis/domain/Token.java
  src/main/java/com/example/dreamvalutbackend/redis/repository/TokenRepository.java
  src/main/java/com/example/dreamvalutbackend/redis/service/RedisService.java
Labels: 🚀 Feat

#68 BE/#33 `ThumnailImageMultipartFile` S3 업로드 폴더 명 수정
  src/main/java/com/example/dreamvalutbackend/global/utils/multipart/ThumbnailImageMultipartFile.java
Labels: 🏷 Fix

#67 BE/#34 TrackDetail 도메인 prompt 필드 VARCHAR 사이즈 수정
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/TrackDetail.java
Labels: 🏷 Fix

#66 BE/#35 테스트 서버 배포하기
  .gitignore
  appspec.yml
  build.gradle
  test.Dockerfile
Labels: 🚀 Feat, ⛑️ Build, 🧭 Chore

#71 Be/#32 좋아요 기능 구현
  src/main/java/com/example/dreamvalutbackend/config/SecurityConfig.java
  src/main/java/com/example/dreamvalutbackend/config/handler/CommonLoginSuccessHandler.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/filter/JwtVerifyFilter.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/utils/JwtConstants.java
  src/main/java/com/example/dreamvalutbackend/config/jwt/utils/JwtUtils.java
  src/main/java/com/example/dreamvalutbackend/config/swagger/SwaggerConfig.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/controller/GenreController.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/domain/Genre.java
  src/main/java/com/example/dreamvalutbackend/domain/genre/service/GenreService.java
  src/main/java/com/example/dreamvalutbackend/domain/like/controller/LikeController.java
  src/main/java/com/example/dreamvalutbackend/domain/like/controller/request/LikeCreateRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/like/controller/request/LikeDeleteRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/like/controller/response/LikeResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/like/domain/Like.java
  src/main/java/com/example/dreamvalutbackend/domain/like/repository/LikeRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/like/service/LikeService.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistController.java
  src/main/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistService.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/controller/TagController.java
  src/main/java/com/example/dreamvalutbackend/domain/tag/service/TagService.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/TrackController.java
  src/main/java/com/example/dreamvalutbackend/domain/track/controller/response/TrackResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/track/domain/Track.java
  src/main/java/com/example/dreamvalutbackend/domain/track/service/TrackService.java
  src/main/java/com/example/dreamvalutbackend/domain/user/controller/request/GenreCreateRequestDto.java
  src/main/java/com/example/dreamvalutbackend/domain/user/controller/response/UserInfoResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/user/controller/response/UserResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/Genre.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/User.java
  src/main/java/com/example/dreamvalutbackend/domain/user/domain/UserGenre.java
  src/main/java/com/example/dreamvalutbackend/domain/user/service/UserService.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/controller/GenreControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/genre/service/GenreServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/controller/PlaylistControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/playlist/service/PlaylistServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/controller/TagControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/tag/service/TagServiceUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/controller/TrackControllerUnitTest.java
  src/test/java/com/example/dreamvalutbackend/domain/track/service/TrackServiceUnitTest.java
Labels: 🚀 Feat

#72 Test 브랜치 `test.Dockerfile` 수정 및 `test_deploy.yml` Github Action 수정
  .github/workflows/test_deploy.yml
  test.Dockerfile
Labels: 🏷 Fix

#74 BE/#36 `곡 검색하기` API 구현
  build.gradle
  src/main/java/com/example/dreamvalutbackend/DreamvalutBackendApplication.java
  src/main/java/com/example/dreamvalutbackend/config/elasticsearch/ElasticsearchConfig.java
  src/main/java/com/example/dreamvalutbackend/config/elasticsearch/ElasticsearchProperties.java
  src/main/java/com/example/dreamvalutbackend/config/elasticsearch/JacksonConfig.java
  src/main/java/com/example/dreamvalutbackend/domain/like/repository/LikeRepository.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/SearchController.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/document/TrackDocument.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/response/CustomPage.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/response/SearchTrackGenreResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/response/SearchTrackResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/search/controller/response/SearchTrackTagResponseDto.java
  src/main/java/com/example/dreamvalutbackend/domain/search/service/SearchService.java
  src/main/java/com/example/dreamvalutbackend/global/utils/search/TrackDocumentUtil.java
Labels: 🚀 Feat

#79 BE/#39 swagger 설정 변경
  src/main/java/com/example/dreamvalutbackend/config/swagger/SwaggerConfig.java
Labels: 🏷 Fix
